@font-face {
    font-family: 'Varela Round';
    src: url(./fonts/VarelaRound-Regular.otf);
}

.carousel_wrap {
    height: 360px;
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    background-color: #F8F8FE;
}


/*--water_whjeel_carousel--*/

#carousel img {
    opacity: 0;
    width: 360px;
    height: 330px;
}

#carousel {
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
    height: 350px;
    position: relative;
    clear: both;
    overflow: hidden;
}

#carousel>div {
    font-family: 'Varela Round';
    visibility: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px rgba(200, 200, 200, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(200, 200, 200, 0.25);
    box-shadow: 0px 4px 4px rgba(200, 200, 200, 0.25);
    /* min-width: 507px; */
    /* height: 382px; */
    padding: 98px 49px;
}

#carousel .caption {
    position: absolute;
    background-color: #FFF;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.carous_item {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    display: block;
}

.carous_desc {
    position: relative;
    display: block;
    height: 100%;
    /* padding: 98px 15px; */
    padding-left: 0px;
    margin-top: 62px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    font-size: 26px;
    text-align: center;
    color: #514F5D;
}
.center{
    text-align: center;
}

.carousel_wrap .nav_button {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -30px;
    height: 60px;
    width: 30px;
    right: 0px;
    font-size: 40px;
    font-weight: 600;
    color: #F00;
    cursor: pointer;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}

.carousel_wrap .nav_button.prev_button {
    left: 50px;
}

.carousel_wrap .nav_button.next_button {
    left: auto;
    right: 50px;
}

.btn-caro {
    /* width: 137px;
    height: 32px; */
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background: #645F78;
    padding: 9px 12px;
    margin-top: 17px;
    border-radius: 0;
}
@media only screen and (max-width: 768px) {
    .carousel_wrap {
       display: none;
    }
}

@media only screen and (max-width:768px) {
    .seconder {
       display: block;
       background-color: #FFFFFF;
       padding:15px 0;

    }
}

@media only screen and (min-width: 1140px) {
  .seconder {
      display: none;
  }
}
@media only screen and (min-width: 1024px) {
    .seconder {
        display: none;
    }
  }