.ion-sticky {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  position: fixed;
  z-index: 2147483647; }

.ion-sticky-icon {
  float: left;
  display: block;
  clear: both;
  transition: padding 0.1s ease-out;
  -webkit-transition: padding 0.1s ease-out;
  -moz-transition: padding 0.1s ease-out;
  -ms-transition: padding 0.1s ease-out;
  -o-transition: padding 0.1s ease-out;
  margin: 0;
  padding: 9px;
  color: white; }
  .ion-sticky-icon:hover {
    padding-left: 15px;
    color: white; }
  .ion-sticky-icon.ion-social-facebook {
    background: #767676;
    text-indent: 8.5px;
    margin-right: -8.5px;
    border-radius: 0.25em 0.25em 0 0; }
    .ion-sticky-icon.ion-social-facebook:hover {
      background: #2d4373; }
  .ion-sticky-icon.ion-social-github {
    background: #767676;
    text-indent: 1.5px;
    margin-right: -1.5px; }
    .ion-sticky-icon.ion-social-github:hover {
      background: black; }
  .ion-sticky-icon.ion-social-twitter {
    background: #767676;
    text-indent: 1px;
    margin-right: -1px; }
    .ion-sticky-icon.ion-social-twitter:hover {
      background: #767676; }
  .ion-sticky-icon.ion-social-instagram {
    background:#767676;
    text-indent: 3.5px;
    margin-right: -3.5px; }
    .ion-sticky-icon.ion-social-instagram:hover {
      background: linear-gradient(#2a29cb, transparent), linear-gradient(60deg, #cccc00, #cc00a9, #0b2dac); }
  .ion-sticky-icon.ion-social-youtube {
    background:#767676;
    border-radius: 0 0 0.25em 0.25em; }
    .ion-sticky-icon.ion-social-youtube:hover {
      background: #cc0000; }

.ion-icon {
  padding: 1px 4px;
  display: inline-block; }
  .ion-icon.ion-social-facebook {
    color: #767676; }
    .ion-icon.ion-social-facebook:hover {
      color: #767676; }
  .ion-icon.ion-social-github {
    color: #767676; }
    .ion-icon.ion-social-github:hover {
      color: #5d5d5d; }
  .ion-icon.ion-social-twitter {
    color: #767676; }
    .ion-icon.ion-social-twitter:hover {
      color: #0e8aea; }
  .ion-icon.ion-social-instagram {
    color: #767676;
    background: #767676 }
    .ion-icon.ion-social-instagram:hover {
      color: #d9a1f1; }
  .ion-icon.ion-social-youtube {
    color:#767676; }
    .ion-icon.ion-social-youtube:hover {
      color: #cc0000; }

.ssk-group {
  line-height: 1px;
  font-size: 28px; }

